<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/board.css" />
    <script src="/js/header.js"></script>
  </head>
  <div th:insert="~{header :: header}" class="header-placeholder"></div>
  <body>
    <section>
      <div class="board">
        <div class="header">
          <div class="title">제목</div>
          <div class="author">작성자</div>
          <div class="comments">댓글수</div>
          <div class="date">날짜</div>
        </div>
        <div class="post">
          <div class="title">게시물 제목 1</div>
          <div class="author">작성자 1</div>
          <div class="comments">10</div>
          <div class="date">2023-10-01</div>
        </div>
        <div class="post">
          <div class="title">게시물 제목 2</div>
          <div class="author">작성자 2</div>
          <div class="comments">5</div>
          <div class="date">2023-10-02</div>
        </div>
        <!-- 추가 게시물 -->
      </div>
    </section>
    <script src="/js/board/board.js"></script>
  </body>
</html>
