<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <script src="/js/header.js"></script>
  </head>
  <body>
    <div th:insert="~{header :: header}" class="header-placeholder"></div>
    <section>
      <div class="titleBox">
        <h1 id="board-title"> </h1>
        <button id="board-button" onclick="location.href='/write'">게시물 작성</button>
      </div>
      <div class="board">
        <div class="header">
          <div class="title">제목</div>
          <div class="author">작성자</div>
          <div class="comments">댓글수</div>
          <div class="date">날짜</div>
        </div>
        <div class="posts-container">
          <!-- 게시물 목록이 여기에 표시됩니다. -->
        </div>
      </div>
    </section>
    <script src="/js/board/board.js" defer></script>
  </body>
</html>
