<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- JQUERY = (자바스크립트 기반의 라이브러리) 최신 버전 임포트 -->
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- 썸머노트 api 에 필요한 JS 임포트 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.js"></script>
<!-- 썸머노트 API 한글 메뉴 JS 임포트 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/lang/summernote-ko-KR.min.js"></script>
<script src="/js/board/write.js" > </script>

</body>
</html>