<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="./../../static/css/reset.css" />
    <link rel="stylesheet" href="./../../static/css/signup.css" />
    <link rel="stylesheet" href="./../../static/css/header.css" />
    <script src="./../../static/js/header.js"></script>
  </head>
  <body>
    <div id="header-placeholder" class="header-placeholder"></div>
    <section>
      <article>
        <div class="signup">
          <ul>
            <li>
              <input type="text" placeholder="아이디" />
              <ul>
                <li>6~30자 이내 ✓</li>
                <li>영문 포함 ✓</li>
                <li>숫자 포함 ✓</li>
              </ul>
            </li>
            <li>
              <input type="password" placeholder="비밀번호" />
              <ul>
                <li>6~30자 이내 ✓</li>
                <li>영문 포함 ✓</li>
                <li>숫자 포함 ✓</li>
                <li>특수문자(!, #, ?) ✓</li>
              </ul>
            </li>
            <li>
              <input type="password" placeholder="비밀번호 확인" />
              <ul>
                <li>비밀번호 일치 ✓</li>
              </ul>
            </li>
            <li>
              <input type="text" placeholder="이름" />
              <ul>
                <li>2~20자 이내 ✓</li>
              </ul>
            </li>
            <li>
              <input type="text" placeholder="연락처" />
              <ul>
                <li>예시) 010-1234-5678 ✓</li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
    </section>
  </body>
</html>
