<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="./../../static/css/reset.css" />
    <link rel="stylesheet" href="./../../static/css/signup.css" />
    <link rel="stylesheet" href="./../../static/css/header.css" />
    <script src="./../../static/js/header.js"></script>
  </head>
  <body>
    <div id="header-placeholder" class="header-placeholder"></div>
    <main
      style="
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
      "
    >
      <form action="signUp" id="signup">
        <div class="container">
          <h1 class="title">회원가입</h1>

          <label for="id"><b>아이디</b></label>
          <input
            type="text"
            placeholder="아이디"
            name="id"
            id="midInput"
            class="form-control midInput"
          />

          <label for="pwd"><b>비밀번호</b></label>
          <input
            type="password"
            placeholder="비밀번호"
            name="pwd"
            id="mpwdInput"
            class="mpwdInput"
          />
          <label for="pwd_check"><b>비밀번호 확인</b></label>
          <input
            type="password"
            placeholder="비밀번호 확인"
            name="psw_check"
            id="mpwdInputCheck"
            class="mpwdInputCheck"
          />
          <label for="name"><b>이름</b></label>
          <input
            type="text"
            placeholder="이름"
            name="name"
            id="mnameInput"
            class="mnameInput"
          />

          <label for="phone"><b>연락처</b></label>
          <input
            type="text"
            placeholder="010-1234-5678"
            name="phone"
            id="mphoneInput"
            class="mphoneInput"
          />
          <button type="button" class="signupBtn" onclick="signup()">
            회원가입
          </button>
        </div>

        <div class="signin">
          <p>로그인하러 가기 <a href="signin.html">Signin</a></p>
        </div>
      </form>
    </main>
    <script src="./../../static/js/signup.js"></script>
  </body>
</html>
