.content * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: auto;
  margin-top: 16px;
  width: 80%;
}

.post-header,
.post {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.post-header {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.post {
  border-bottom: 1px solid #ccc;
}

.post:last-child {
  border-bottom: none;
}

.post-title,
.post-title-header {
  flex-grow: 2;
}

.post-date,
.post-author,
.post-comments,
.post-date-header,
.post-author-header,
.post-comments-header {
  flex-shrink: 0;
  margin-left: 16px;
}
