.signin, .signup, .mypage{
  padding: 18px;
}
.mypage{
  display: none;
}
#header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e2e2e2;
}
#nav {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25%;
}
#category > li {
  padding: 16px;
}
#member_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
