body {
  width: 100%;
}
.container {
  max-width: 80%;
  margin: 10% auto;
}
form {
  width: 600px;
}
.title {
  font-size: 20px;
  margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signupBtn,
.signinBtn {
  background-color: dimgray;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.4;
}
.signinBtn {
  opacity: 0.9;
}

.signup {
  text-align: center;
}
.gotosign {
  color: dodgerblue;
}
