<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header id="header">
      <nav id="nav">
        <span style="font-size: 17px; font-weight: 800"
          ><a href="">COFFEE</a></span
        >
        <ul id="category">
          <li><a href="../../../../../미니프로젝트%20ui/borad/board.html?type=1">공지</a></li>
          <li><a href="../../../../../미니프로젝트%20ui/borad/board.html?type=2">잡담</a></li>
          <li><a href="../../../../../미니프로젝트%20ui/borad/board.html?type=3">노하우</a></li>
          <li><a href="../../../../../미니프로젝트%20ui/borad/board.html?type=4">정보</a></li>
          <li><a href="../../../../../미니프로젝트%20ui/borad/board.html?type=5">질문</a></li>
        </ul>
        <div id="member_box">
          <span><a href="">signup</a></span>
          <span><a href="">signin</a></span>
        </div>
      </nav>
    </header>
  </body>
</html>
