<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title class="page-title">커피 커뮤니티 홈</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <script src="/js/header.js" defer></script>
  <script src="/js/main.js" defer></script>
</head>
<body class="main-body">
<div th:insert="~{header :: header}" class="header-placeholder"></div>
<main class="main-content">
  <article class="intro-article">
    <img src="/img/coffee-7632568_1280.jpg" alt="" class="intro-image" />
    <div class="intro-text">
      <h1 class="intro-title">커피와 함께하는 순간</h1>
      <p class="intro-description">
        아침의 활력소, 오후의 휴식, 밤의 여유. <br />
        커피가 주는 다양한 순간을 즐기세요. <br />
        이곳에서는 커피에 대한 모든 이야기가 기다리고 있습니다.
      </p>
      <div id="home_box--set" class="home-box">
        <button id="home_box--btn" class="home-button">자세히보기</button>
      </div>
    </div>
  </article>
  <h1 class="main-heading">Main Page</h1>
  <section class="board-section">
    <article class="board-article">
      <div class="board-header">
        <span class="board-title">잡담</span>
        <a href="/board?type=2" class="board-link">더보기 ></a>
      </div>
      <ul class="board-list posts-container-2"></ul>
    </article>
  </section>
  <section class="board-section">
    <article class="board-article">
      <div class="board-header">
        <span class="board-title">노하우</span>
        <a href="/board?type=3" class="board-link">더보기 ></a>
      </div>
      <ul class="board-list posts-container-3"></ul>
    </article>
  </section>
  <section class="board-section">
    <article class="board-article">
      <div class="board-header">
        <span class="board-title">정보</span>
        <a href="/board?type=4" class="board-link">더보기 ></a>
      </div>
      <ul class="board-list posts-container-4"></ul>
    </article>
  </section>
  <section class="board-section">
    <article class="board-article">
      <div class="board-header">
        <span class="board-title">질문</span>
        <a href="/board?type=5" class="board-link">더보기 ></a>
      </div>
      <ul class="board-list posts-container-5"></ul>
    </article>
  </section>
</main>
<div class="footer-margin" style="margin: 100px"></div>
<script src="/js/index.js" defer></script>
</body>
</html>
