<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="page-title">커피 커뮤니티 홈</title>
    <link rel="stylesheet" href="./../static/css/reset.css" />
    <link rel="stylesheet" href="./../static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="./../static/js/header.js"></script>
  </head>
  <body class="main-body">
    <div id="header-placeholder" class="header-placeholder"></div>
    <main class="main-content">
      <article class="intro-article">
        <img
          src="./../static/img/coffee-7632568_1280.jpg"
          alt=""
          class="intro-image"
        />
        <div class="intro-text">
          <h1 class="intro-title">커피와 함께하는 순간</h1>
          <p class="intro-description">
            아침의 활력소, 오후의 휴식, 밤의 여유. <br />
            커피가 주는 다양한 순간을 즐기세요. <br />
            이곳에서는 커피에 대한 모든 이야기가 기다리고 있습니다.
          </p>
          <div id="home_box--set" class="home-box">
            <button id="home_box--btn" class="home-button">자세히보기</button>
          </div>
        </div>
      </article>
      <h1 class="main-heading">Main Page</h1>
      <section class="board-section">
        <article class="board-article">
          <div class="board-header">
            <span class="board-title">잡담</span>
            <a href="./borad/board.html?type=2" class="board-link">더보기 ></a>
          </div>
          <ul class="board-list">
            <li class="board-item">
              <a href="post/1" class="post-container">
                <span>게시글1 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/2" class="post-container">
                <span>게시글2 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/3" class="post-container">
                <span>게시글3 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/4" class="post-container">
                <span>게시글4 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/5" class="post-container">
                <span>게시글5 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
          </ul>
        </article>
      </section>
      <section class="board-section">
        <article class="board-article">
          <div class="board-header">
            <span class="board-title">노하우</span>
            <a href="./borad/board.html?type=3" class="board-link">더보기 ></a>
          </div>
          <ul class="board-list">
            <li class="board-item">
              <a href="post/6" class="post-container">
                <span>게시글1 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/7" class="post-container">
                <span>게시글2 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/8" class="post-container">
                <span>게시글3 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/9" class="post-container">
                <span>게시글4 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/10" class="post-container">
                <span>게시글5 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
          </ul>
        </article>
      </section>
      <section class="board-section">
        <article class="board-article">
          <div class="board-header">
            <span class="board-title">정보</span>
            <a href="./borad/board.html?type=4" class="board-link">더보기 ></a>
          </div>
          <ul class="board-list">
            <li class="board-item">
              <a href="post/11" class="post-container">
                <span>게시글1 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/12" class="post-container">
                <span>게시글2 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/13" class="post-container">
                <span>게시글3 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/14" class="post-container">
                <span>게시글4 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/15" class="post-container">
                <span>게시글5 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
          </ul>
        </article>
      </section>
      <section class="board-section">
        <article class="board-article">
          <div class="board-header">
            <span class="board-title">질문</span>
            <a href="./borad/board.html?type=5" class="board-link">더보기 ></a>
          </div>
          <ul class="board-list">
            <li class="board-item">
              <a href="post/16" class="post-container">
                <span>게시글1 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/17" class="post-container">
                <span>게시글2 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/18" class="post-container">
                <span>게시글3 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/19" class="post-container">
                <span>게시글4 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
            <li class="board-item">
              <a href="post/20" class="post-container">
                <span>게시글5 (더미데이터)</span>
                <span class="comment-count">댓글 5</span>
              </a>
            </li>
          </ul>
        </article>
      </section>
    </main>
    <div class="footer-margin" style="margin: 100px"></div>
  </body>
</html>
