<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="./../../static/css/reset.css" />
    <link rel="stylesheet" href="./../../static/css/header.css" />
    <link rel="stylesheet" href="./../../static/css/board.css" />
    <script src="./../../static/js/header.js"></script>
  </head>
  <div id="header-placeholder" class="header-placeholder"></div>
  <body>
    <main class="content">
      <h1 id="board-title"></h1>
      <div class="post-header">
        <div class="post-title-header">제목</div>
        <div class="post-date-header">날짜</div>
        <div class="post-author-header">작성자</div>
        <div class="post-comments-header">댓글 수</div>
      </div>
      <!-- js로 데이터 삽입 -->
    </main>
    <script src="./../../static/js/board.js"></script>
  </body>
</html>
