<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="./../../static/css/reset.css" />
    <link rel="stylesheet" href="./../../static/css/header.css" />
    <link rel="stylesheet" href="./../../static/css/board.css" />
    <script src="./../../static/js/header.js"></script>
  </head>
  <body>
    <div id="header-placeholder" class="header-placeholder"></div>
    <main>
      <h1 id="board-title">커뮤니티 게시판</h1>
      <table id="posts">
        <thead>
          <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>댓글수</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
    <script src="./../../static/js/board.js"></script>
  </body>
</html>
